docs/big_data/spark/*.json
docs/big_data/spark/*.txt
docs/big_data/spark/*.csv
docs/big_data/spark/*.orc
docs/big_data/spark/*.parquet
docs/big_data/spark/hadoop
docs/big_data/spark/outputParquet
docs/big_data/spark/parquet_write_partition
docs/big_data/spark/spark-warehouse
docs/big_data/spark/data/
docs/big_data/spark/file6
docs/big_data/airflow
docs/big_data/spark/complexjson

.idea
scenarios.db

venv/*
