site_name: Docs
nav:
  - Home: index.md
  - Big Data Batch 43: 
    - Week 7: 'big_data/week_7/index.md'
    - Week 8: 'big_data/week_8/index.md'

markdown_extensions:
  - pymdownx.highlight:
        anchor_linenums: true
        line_spans: __span
        pygments_lang_class: true
  - pymdownx.magiclink  
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - glightbox

theme: 
  name: material
  palette:
    scheme: slate
  features:
    - content.code.copy
